{% extends 'app/base.html' %}


{% block contenido %}
{% load crispy_forms_tags %}




<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card"  style="background-color: #e9ecef">
            <div class="card-body "> 
                
                <h2 class="text-center">Add Supllies</h2>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy}}

                    <div class="d-flex justify-content-end">
                        <input type="reset" value="Reset" class="btn!important btn-outline-secondary btn-lg">
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <input type="submit" value="Save" class="btn!important btn-outline-success btn-lg">
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
<br>
<br>
<br>




{% endblock%}


