{% extends 'app/base.html'%}

{% load static %}

{% load crispy_forms_tags %}

{% block contenido %}
<div class="container " >
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" style="background-color: #e9ecef">
                <div class="card-body">
                    <h2>Login</h2>

                    <form action="" method="POST">

                        {% csrf_token %}
                        {{ form | crispy }}

                        <a href="{% url 'index' %}">Go home</a>

                        <input type="submit" value="Ingresar" class="btn btn-success float-right">
                    </form>

                    <br>
                    <br>

                    <img id="facebook" src="{% static 'app/img/icono-facebook.png' %}" alt="facebook" class="facebook" width="25px" height="25px"/>

                    <a href="{% url 'social:begin' 'facebook' %}">Login in with Facebook</a>

                </div>

            </div>

        </div>

    </div>
    <br>
    <br>
    <br>
    <br>


</div>
{% endblock %}
