<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Car Wash</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
		<!--font-->
		<link
			href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,500;1,400;1,900&display=swap"
			rel="stylesheet"
		/>

		<!-- csss-->
        {% block css %}
        {% endblock %}
        
        {% load static %}
		<link rel="stylesheet" href="{% static 'app/css/Estilo_registro.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/style_services.css' %}" />
		<link rel="stylesheet" href="{% static 'app/css/styles_contacto.css' %}" />
	</head>

	<body>
		<header id="header">
			<img id="menu" src="{% static 'app/img/icon/menu.png' %}" alt="menu" class="menu" />

			<div class="logo_contenedor">
				<img src="{% static 'app/img/logo.jpg' %}" alt="logo" class="nav-img-logo" />
			</div>

			<div>
				<nav id="nav" class="nav-main">
					<ul class="nav-menu">
						<li>
							<a href="{% url 'index' %}">Home</a>
						</li>

						<li>
							<a href="{% url 'galeria' %}">Galeria</a>
						</li>

						<li>
							<a href="{% url 'contacto' %}">Contacto</a>
						</li>

						<li>
							<a href="{% url 'registro' %}">Registro</a>
						</li>

						<li>
							<a href="{% url 'login' %}">Login</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<hr />

		<div class="feriado-image">
			<div class="feriado-text">
				<p>Proximo feriado:  <label for="" id="feriado"></label></p>
			</div>
		</div>
		<!--BOTON <a href="#" class="btn">Read More <i class="fas fa-angle-double-right"></i></a>-->
		
        {% block contenido %}

        {% endblock %}
		
		

		<footer>
			<div class="marcas">
                <img src="{% static 'app/img/audi.jfif' %}" alt="audi" />
                <img src="{% static 'app/img/bmw.jfif' %}" alt="bmw" />
                <img src="{% static 'app/img/ford.png' %}" alt="ford" />
                <img src="{% static 'app/img/nisan.jfif' %}" alt="nisan" />
                <img src="{% static 'app/img/toyota.png' %}" alt="toyota" />
			</div>
			<div class="logo_footer">
				<img src="{% static 'app/img/logo.jpg' %}" alt="Logo" />
			</div>
			<a href="https://www.freepik.es/vectores/banner">Vector de Banner creado por freepik - www.freepik.es</a>
			<div id="copyright">Copyright&copy; 2020 - Página creada por Iou™ - Todos los derechos reservados®</div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        
        {% block js %}
        {% endblock %}
		

		{# Falta agregar js en la carpeta app para que funciones el los js #}
		<script src="{% static 'app/js/menu.js' %}"></script>
		<script src="{% static 'app/js/feriados.js' %}"></script>
	</body>
</html>
