{% extends 'app/base.html' %} 

{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
{% endblock %}

{% block contenido %}
<div id="galeria">
    <h2>Galeria</h2>
    <br />


    
    <div class="galeria">
        {% for i in gallery %}
        {% if gallery %}
        <a data-fancybox="gallery" href="{{ i.image.url }}">
            <img src="{{ i.image.url }}" />
        </a>
        {% endif %}

        {% endfor %}

    
    <div class="galeria">
        {% for i in gallery %}
        <a data-fancybox="gallery" href="{{i.image.url}}">
            <img src="{{i.image.url}}" />
        </a>

        {% endfor %}
    </div>
    
</div>

    

{% endblock %}

