{% extends 'app/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css" />
{% endblock %}

{% block js %}

{# cargamos el js del del slayder #}

<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function () {
        $(".slider").bxSlider(5)
    })
</script>
{% endblock %}


{% block contenido %}

<div class="clientes-felices-image" style="height: 18rem">
    <div class="clientes-felices-text">
        <h1 > CAR WASH "MIGUEL TE LO MOJA"</h1>
        <h3>A unique experience</h3>
    </div>
</div>

<div class="slider">

    {%for g in slider %}
    <div>
        <img src="{{g.image.url}}" alt="" />
    </div>
    {% endfor %}
</div>

<section id="index_contenido">
    <section class="services">
        <div class="services__container">
            <div class="services__container--item">
                <img src="{% static 'app/img/Services/lavado.jpg' %}" alt="" />
                <h3>Customize your wash</h3>
                <p>
                    You can wash your car as you want, if you want to add wax and if you do not want to remove it, wash the car as you prefer, 
                    come and choose what you want.
                </p>
                <a href="#" class="btn">Read More <i class="fas fa-angle-double-right"></i></a>
            </div>

            <div class="services__container--item">
                <img src="{% static 'app/img/Services/auto-lavado.gif' %}" alt="" />
                <h3>Wash your own car</h3>
                <p>
                    That's right, if you want to wash your car because you enjoy doing it or you feel more comfortable, we present you this service in which we will lend you all
                     the cleaning equipment and you will only be charged for the use of these and the supplies that you occupy, come and try it.
                </p>
                <a href="#" class="btn">Read More <i class="fas fa-angle-double-right"></i></a>
            </div>

            <div class="services__container--item">
                <img src="{% static 'app/img/Services/lavado-interior.jpg' %}" alt="" />
                <h3>Internal cleaning</h3>
                <p>You just want to clean the interior of the car and care for the skin, this is your place.</p>
                <a href="#" class="btn">Read More <i class="fas fa-angle-double-right"></i></a>
            </div>

            <div class="services__container--item">
                <img src="{% static 'app/img/Services/moto.jpg' %}" alt="" />
                <h3>Motorbike and bicycle wash</h3>
                <p>This is our new service, if you want to wash your bike or motorbike this is the place you are looking around.</p>
                <a href="#" class="btn">Read More <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </section>
</section>
<br>

<section id="index_contenido">
    <div class="clientes-felices-image">
        <div class="clientes-felices-text">
            <h1>Our Customers</h1>
              <h3>They trust us</h3>
        </div>
    </div>
    
    <section class="clientes_felices">
        <div class="services__container">
            <div class="services__container--item">
                <img src="{% static 'app/img/Clientes Felices/1.jpg' %}" alt="" />
                
                <p>
                    They provide an excellent service, I recommend it 100%, very respectful and the price is fair.
                </p>
                
            </div>

            <div class="services__container--item">
                <img src="{% static 'app/img/Clientes Felices/2.jpg' %}" alt="" />
                
                <p>
                    The best car wash I have ever visited, all super friendly. Very comfortable facilities,
                    one with a waiting room.
                </p>
                
            </div>

            <div class="services__container--item">
                <img src="{% static 'app/img/Clientes Felices/3.jpg' %}" alt="" />
                
                <p>
                    I recommend 1000% the best prices, they left my vehicle impeccable, an excellent attention.
                </p>
                
            </div>

            <div class="services__container--item">
                <img src="{% static 'app/img/Clientes Felices/4.jpg' %}" alt="" />
                
                <p>
                    Excellent service, air-conditioned waiting room, smoking area, and place to buy supplies.
                </p>
                
            </div>
        </div>
    </section>
</section>



<section id="bloque1">
    <div>
        <div class="mision_vision">
            <h1>Mision</h1>
            {% for m in mision %}
            <p>
                {{ m.description}}
            </p>
            {% endfor %}
        </div>
    </div>
        
    <div>
        <div class="mision_vision">
            <img src="{% static 'app/img/vision.jpg' %}" alt="" />
            <h1>Vision</h1>

            {% for v in vision%}
            <p>
                {{ v.description}}
            </p>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}